version: '2'
services:
  shadowsocks:
    container_name: shadowsocksr_server
    restart: always
    image: solidfd/ssr:1.0
    volumes:
    - ./etc/unbound/conf.d/:/etc/unbound/local.d/
    dns:
    - 8.8.8.8
    - 4.4.4.4
    ports:
    - "220:22"
    - "8080:8080"
    - "8883:189"
    - "53:53/udp"
